* {
  padding: 0;
  margin: 0;
}
* {
  padding: 0;
  margin: 0;
}
.container:before {
  background-color: rgba(0, 0, 0, 0.177);
}
.container {
  text-transform: uppercase;
  font-weight: 100;
  background-image: linear-gradient(
      to right,
      rgba(245, 8, 107, 0.815),
      rgba(5, 23, 83, 0.842)
    ),
    url("https://th.bing.com/th/id/R.f61b6e9201690560222884dbeb2e5076?rik=nvXbPUICa97NYA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f8EaQ6NR.jpg&ehk=u7l2sv1aQfYGnWwIPPW4ftM9oK7iZ7y%2bx7zgK71NZac%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: top;
  width: 100%;
  position: relative;
  min-height: 25rem;
  z-index: 10;
  /* width: 100%;
  background: url("https://th.bing.com/th/id/R.f61b6e9201690560222884dbeb2e5076?rik=nvXbPUICa97NYA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2f8EaQ6NR.jpg&ehk=u7l2sv1aQfYGnWwIPPW4ftM9oK7iZ7y%2bx7zgK71NZac%3d&risl=&pid=ImgRaw&r=0"); */
}
.input {
  position: absolute;
  top: 50%;
  background: #ffffff;

  width: 50%;
  right: 25%;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  min-height: 25rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.heading {
  color: white;
  position: absolute;
  top: 35px;
  left: 30px;
  font-weight: 700;
  font-size: 50px;
}
button {
  padding: 15px 50px;
  background: deeppink;
  border: none;
  border-radius: 30px;
  color: #ffffff;
}
input {
  padding: 20px;
  min-width: 5rem;
}
.Short_Url_Box {
  position: relative;
  top: 20rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  align-items: center;
}

p {
  buttom: 13rem;
  left: 10rem;
  font-size: 35px;
  font-weight: 700;
}
#message {
  display: none;
  background: #211e5dc7;
  /* margin: 20px 0; */
  color: #ffffff;
  padding: 20px;
  width: 30%;
  text-align: center;
}
